<section class="container">
  <div class="row">
    <figure class="col-12 col-md-3">
      <img
        class="rounded-circle mw-100"
        [src]="oneUser.image"
        [alt]="oneUser.username"
      />
    </figure>
    <div class="cssConfig col-12 col-md-9">
      <h1 class="h2">{{ oneUser.first_name + " " + oneUser.last_name }}</h1>
      <p>
        <span class="fw-bold">Nombre de usuario: </span>{{ oneUser.username }}
      </p>
      <p><span class="fw-bold">Email: </span>{{ oneUser.email }}</p>
      <!-- <div class="mw-100 row d-flex justify-content-between">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <a href="#" class="btn btn-info text-white">Consultar</a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <a href="#" class="btn btn-info text-white">Actualizar</a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <a href="#" class="btn btn-info text-white">Borrar</a>
        </div>
      </div> -->
      https://getbootstrap.com/docs/5.0/components/button-group/
    </div>
  </div>
</section>
