<section class="container">
  <div class="row">
    <figure class="col-12 col-md-3">
      <img
        class="rounded-circle mw-100"
        [src]="oneUser.image"
        [alt]="oneUser.username"
      />
    </figure>
    <div class="query col-12 col-md-9">
      <h1 class="h2">{{ oneUser.first_name + " " + oneUser.last_name }}</h1>
      <p>
        <span class="fw-bold">Nombre de usuario: </span>{{ oneUser.username }}
      </p>
      <p><span class="fw-bold">Email: </span>{{ oneUser.email }}</p>
      <div class="btn-group mt-4">
        <button type="button" class="btn btn-outline-info">Eliminar</button>
        <button type="button" class="btn btn-outline-info">Actualizar</button>
        <button
          type="button"
          class="btn btn-outline-info"
          [routerLink]="['/home']"
        >
          Volver a listado
        </button>
      </div>
    </div>
  </div>
</section>
